.english-navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.english-navigation-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-link2 {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.english-navigation-dropdown-arrow {
  transition: 0.3s;
}
.english-navigation-icon {
  fill: #000000;
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.english-navigation-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.english-navigation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.english-navigation-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.english-navigation-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.english-navigation-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.english-navigation-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.english-navigation-navlink4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
















@media(max-width: 767px) {
  .english-navigation-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .english-navigation-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-navlink {
  display: contents;
}
.team-image {
  height: 2rem;
  text-decoration: none;
}
.team-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team-burger-menu {
  display: none;
}
.team-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.team-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.team-image1 {
  height: 2rem;
}
.team-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.team-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.team-container02 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.team-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-image2 {
  width: 50px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.team-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text01 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-image3 {
  width: 50px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.team-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text03 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-link01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-image4 {
  width: 50px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.team-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text05 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-link02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-image5 {
  width: 50px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.team-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text13 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-link03 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-image6 {
  width: 50px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.team-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text15 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-image7 {
  width: 50px;
  object-fit: cover;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.team-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text17 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-text22 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.team-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.team-link06 {
  margin-bottom: 0px;
  text-decoration: none;
}
.team-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-container10 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.team-image8 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.team-link07 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-link08 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-link09 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.team-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.team-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 767px) {
  .team-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-nav {
    display: none;
  }
  .team-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-container02 {
    grid-template-columns: 1fr;
  }
  .team-feature-card {
    flex-direction: row;
  }
  .team-container03 {
    flex-direction: column;
  }
  .team-feature-card1 {
    flex-direction: row;
  }
  .team-container04 {
    flex-direction: column;
  }
  .team-feature-card2 {
    flex-direction: row;
  }
  .team-container05 {
    flex-direction: column;
  }
  .team-feature-card3 {
    flex-direction: row;
  }
  .team-container06 {
    flex-direction: column;
  }
  .team-feature-card4 {
    flex-direction: row;
  }
  .team-container07 {
    flex-direction: column;
  }
  .team-feature-card5 {
    flex-direction: row;
  }
  .team-container08 {
    flex-direction: column;
  }
  .team-feature-card6 {
    flex-direction: row;
  }
  .team-container09 {
    flex-direction: column;
  }
  .team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-image8 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container11 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text31 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .team-header {
    padding: var(--dl-space-space-unit);
  }
  .team-mobile-menu {
    padding: 16px;
  }
  .team-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .team-container03 {
    flex-direction: column;
  }
  .team-container04 {
    flex-direction: column;
  }
  .team-container05 {
    flex-direction: column;
  }
  .team-container06 {
    flex-direction: column;
  }
  .team-container07 {
    flex-direction: column;
  }
  .team-container08 {
    flex-direction: column;
  }
  .team-container09 {
    flex-direction: column;
  }
  .team-footer {
    padding: var(--dl-space-space-unit);
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container11 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text31 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
