.chinese-navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.chinese-navigation-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chinese-navigation-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chinese-navigation-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chinese-navigation-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chinese-navigation-link2 {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.chinese-navigation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chinese-navigation-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.chinese-navigation-text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.chinese-navigation-dropdown-arrow {
  transition: 0.3s;
}
.chinese-navigation-icon {
  fill: #000000;
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.chinese-navigation-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.chinese-navigation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chinese-navigation-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.chinese-navigation-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chinese-navigation-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.chinese-navigation-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chinese-navigation-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.chinese-navigation-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chinese-navigation-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.chinese-navigation-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.chinese-navigation-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.chinese-navigation-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.chinese-navigation-navlink4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

@media(max-width: 767px) {
  .chinese-navigation-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .chinese-navigation-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chinese-navigation-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chinese-navigation-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chinese-navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .chinese-navigation-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.english-navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.english-navigation-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-link2 {
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.english-navigation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.english-navigation-dropdown-arrow {
  transition: 0.3s;
}
.english-navigation-icon {
  fill: #000000;
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.english-navigation-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.english-navigation-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.english-navigation-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.english-navigation-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.english-navigation-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.english-navigation-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.english-navigation-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.english-navigation-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.english-navigation-navlink4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
















@media(max-width: 767px) {
  .english-navigation-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .english-navigation-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .english-navigation-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.zh-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.zh-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.zh-navlink {
  display: contents;
}
.zh-image {
  height: 2rem;
  text-decoration: none;
}
.zh-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.zh-burger-menu {
  display: none;
}
.zh-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.zh-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.zh-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.zh-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.zh-image1 {
  height: 2rem;
}
.zh-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.zh-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.zh-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.zh-container2 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.zh-text {
  font-size: 3rem;
  max-width: 450px;
}
.zh-text05 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.zh-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.zh-link {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.zh-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.zh-link1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.zh-link1:hover {
  border-color: var(--dl-color-gray-black);
}
.zh-text11:hover {
  border-color: var(--dl-color-gray-black);
}
.zh-image2 {
  width: 400px;
  object-fit: cover;
}
.zh-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.zh-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.zh-image3 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.zh-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.zh-link2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.zh-link3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.zh-link4 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.zh-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.zh-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .zh-banner {
    flex-direction: column;
  }
  .zh-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .zh-text {
    text-align: center;
  }
  .zh-text05 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .zh-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .zh-nav {
    display: none;
  }
  .zh-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .zh-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .zh-text05 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .zh-image2 {
    width: 80%;
  }
  .zh-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .zh-image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .zh-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .zh-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .zh-text13 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .zh-header {
    padding: var(--dl-space-space-unit);
  }
  .zh-mobile-menu {
    padding: 16px;
  }
  .zh-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .zh-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .zh-btn-group {
    flex-direction: column;
  }
  .zh-link1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .zh-text11 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .zh-footer {
    padding: var(--dl-space-space-unit);
  }
  .zh-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .zh-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .zh-text13 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
