<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="author" content="The Suika2 Development Team, KyouBrayden"/>
<link rel="stylesheet" href="/styles/article-style.css">
<link rel="stylesheet" href="https://docs.suika2.com/styles/article-style.css"> <!-- Navigation Fallback Stylesheet -->
<link rel="icon" type="image/x-icon" href="/images/suika-logo.png">
<meta content="#91E09F" data-react-helmet="true" name="theme-color" />
