<!-- TWO – UPDATE SECTION -->
  <section class="wrapper style2 special">
    <div class="inner">
      <header>
        <h2>{% releaseversion.html %}</h2>
        <p>{% releasedate.html %}</p>
      </header>
      <p>
        Improved multilingualization support<br>
        The user's system locale now determines the language of the interface and story<br>
        i18n config was removed (Internationalization is always ON)<br>
        ui.msg.* config was removed (Built-in multilingualization)<br>
        Added the UI translation (For Pro, only English and Japanese are available)<br>
        Added the multilingualized menu bar to Windows app (optional)<br>
        Changed Windows app to work with Unicode<br>
        Updated the minimum macOS version to 10.13 High Sierra<br>
        Minor bug fixes
      </p>
      <footer>
        <ul class="actions special">
          <li><a href="updates/2-11-7" class="button">Read about the update (2.11.7)</a></li>
        </ul>
      </footer>
    </div>
  </section>
