				<!-- FOUR - BLOG SECTION -->
					<section class="wrapper style3 special">
						<div class="inner">
							<header>
								<h2>The Blog</h2>
								<p>
									Midori, Rina, and Kyo have an informal blog where all<br />
									the latest information about Suika2 can be found along<br />
									with some asides into their lives.
								</p>
							</header>
							<footer>
								<ul class="actions special">
									<li><a href="https://blog.suika2.com" class="button big">Visit the Blog</a></li>
								</ul>
							</footer>
						</div>
					</section>

					<!-- FOUR – E-MAIL SECTION -->
					<section class="wrapper style3 special">
							<div class="inner">
								<header>
									<h2>Contact Midori and the Team</h2>
									<p>
										Need to get in touch? Have an issue, bug, or suggestion?<br>
										Maybe you just want to say hi to Midori, Rina, or the Team?<br>
										Send Midori an e-mail and she'll pass it on!<br>
									</p>
								</header>
								<footer>
									<ul class="actions special">
										<li><a href="mailto:midori@suika2.com" class="button big">E-Mail Midori</a></li>
									</ul>
									<p>(Replies will be sent from a Gmail address.)</p>
								</footer>
							</div>
						</section>
