<head>
  <link rel="shortcut icon" href="public/playground_assets/logo1.png" type="icon/png" sizes="32x32"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" data-tag="font"/>
  <link rel="stylesheet" href="public/styles/style.css" />
  <link href="public/styles/english.css" rel="stylesheet" />
</head>

<header data-role="Header" class="english-header">
  <div class="english-logo-container">
    <img alt="logo" src="/public/playground_assets/logo-1500h.png" class="english-logo"/>
  </div>
  <div class="english-language-container">
    <a href="/documentation.html" class="english-language-button button">Documentation</a>
    <a href="/index.html" class="english-language-button1 button">Language</a>
  </div>
</header>
