<!-- INTRO -->
  <section id="intro" class="wrapper featured style1">
    <div class="inner">
      <span class="image"><img src="/images/midori.png" alt="Picture of Midori. She wears a white school shirt and watermelon themed tie and hair ribbons." /></span>
      <div class="content">
        <header>
          <h1>Suika {% include release_version.html %}</h1>
          <p>
            Suika2 is a cross-platform, open-source<br/>
            visual novel development engine.
          </p>
        </header>
        <footer>
          <ul class="actions">
            {% include release_link.html %}
            <li><a href="https://discord.gg/ZmvXxE8GFg" class="button big">Discord</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=jp.luxion.suika&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" class="button big">Download on Google Play</a></li>
          </ul>
        </footer>
      </div>
    </div>
  </section>

  <!-- ONE – INTRODUCING SUIKA2 SECTION -->
  <section class="wrapper style2 special">
    <div class="inner">
      <header>
        <h2>Introducing Suika2</h2>
        <p>So your stories can come to life.</p>
      </header>
      <p>
        Suika2 is an open-source, cross-platform visual novel development engine that allows you to create a feature-rich visual novel with the care and attention to detail that your stories deserve. Featuring support and documentation in Japanese, Chinese, and English as well as active development and an accepting community, Suika2 could be the perfect start to your thrilling adventure, fawning romance, chilling epic, or anything else you could possibly imagine!
      </p>
    </div>
  </section>
