<!-- Header – Menu Icon -->
  <header id="header">
    <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav>
  </header>

<!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="https://blog.suika2.com">The Blog</a></li>
      <li><a href="https://github.com/suika2engine/suika2">GitHub</a></li>
      <li><a href="/jp/">日本語</a></li>
      <li><a href="/zh/">中文</a></li>
      <li><a href="/ru/">Русский</a></li>
    </ul>
    <ul class="actions stacked">
      {% include release.html %}
      <li><a href="https://github.com/suika2engine/suika2/wiki" class="button fit">Documentation</a></li>
    </ul>
  </nav>
