				<!-- THREE – THE TEAM SECTION -->
					<section class="wrapper style1 special">
						<div class="inner">
							<header>
								<h2>The Team</h2>
								<p>
									The Suika2 Development Team has members from<br />
									Asia, Europe, and Oceania, making it a truly global project.<br />
								</p>
							</header>
							<section class="spotlight">
								<span class="image"><img src="https://github.com/ktabata.png" alt="" /></span>
								<div class="content">
									<header>
										<h3>ktabata (K) | Team Lead, Programmer</h3>
									</header>
									<p>
										Hi, I'm a Japanese programmer. Just call me 'K' if you'd like.
										I've started this project because I like cross-platform programming.
										I hope that through the development of Suika2 we can contribute to your visual novel creation.
									</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/ktabata" class="button">ktabata's GitHub</a></li>
										</ul>
									</footer>
								</div>
							</section>

							<section class="spotlight">
								<span class="image"><img src="/images/aitsuki.png" alt="" /></span>
								<div class="content">
									<header>
										<h3>Aitsuki | Video, Obfuscation</h3>
									</header>
									<p>
										Hello! I'm Aitsuki, nice to meet you. If you have any problems, don't hesitate to tell me, I will try my best to assist you! Oh, by the way I'm very friendly too!"
									</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/innocentvoice" class="button">Aitsuki's GitHub</a></li>
										</ul>
									</footer>
								</div>
							</section>

							<section class="spotlight">
								<span class="image"><img src="https://github.com/kyoubrayden.png" alt="" /></span>
								<div class="content">
									<header>
										<h3>Brayden (Kyo) | Blog, Website</h3>
									</header>
									<p>
										Hey, I'm Brayden, but most people call me Kyo – it's nice to meet you! I write Midori and Rina's blog, as well as maintain the website and parts of the documentation.
									</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/kyoubrayden" class="button">Brayden's GitHub</a></li>
										</ul>
									</footer>
								</div>
							</section>

							<section class="spotlight">
								<span class="image"><img src="/images/max.png" alt="" /></span>
								<div class="content">
									<header>
										<h3>Max | Graphic Design</h3>
									</header>
									<p>Hello! I'm the interface designer for Suika2. I've been with the team since July 2022 and I've worked on a lot of material since then, but even with all the progress we're making, we still have a lot of work to do to make Suika2 the perfect engine for anyone who wants to dive into "the world of visual novel development"!</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/max-morgan" class="button">Max's GitHub</a></li>
										</ul>
									</footer>
								</div>
							</section>

							<section class="spotlight">
								<span class="image"><img src="/images/minirop.png" alt="" /></span>
								<div class="content">
									<header>
										<h3>Minirop | Code Review</h3>
									</header>
									<p>'Born to code!' – Minirop, October 2022</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/minirop" class="button">Minirop's GitHub</a></li>
										</ul>
									</footer>
								</div>
							</section>

							<section class="spotlight">
								<span class="image"><img src="https://github.com/matsunokun.png" alt="" /></span>
								<div class="content">
									<header>
										<h3>Matsuno-san</h3>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos magna fames ac turpis egestas amet non lorem amet.</p>
									<footer>
										<ul class="actions">
											<li><a href="https://github.com/matsunokun" class="button">Matsuno-san's GitHub</a></li>
										</ul>
									</footer>
								</div>
							</section>

							<h3>Contributors</h3>
							<p>
								For privacy reasons, public contributors can only be viewed on GitHub. We apologise for this inconvenience.
							</p>
							<footer>
								<ul class="actions special">
									<li><a href="https://github.com/suika2engine/suika2/graphs/contributors" class="button">View Contributors</a></li>
								</ul>
							</footer>
						</div>
					</section>
