<!-- Navigation -->
<div class="navbar">
  <img src="images/suika-logo.png" class="logo" alt="Suika2 Logo">
  <nav>
    <ul id="menuList">
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/suika2engine/suika2/wiki/Tutorial">Tutorial</a></li>
      <li><a href="https://github.com/suika2engine/suika2/wiki">Wiki</a></li>
      <li><a href="https://github.com/suika2engine/suika2">GitHub</a></li>
      <li><a href="/jp/">日本語</a></li>
      <li><a href="/ru/">Русский</a></li>
      <li><a href="/zh/">中文</a></li>
      <li><a href="/articles.html">Articles</a></li>
      <a href="https://discord.gg/ZmvXxE8GFg"><button type="button">Discord</button></a>
    </ul>
  </nav>
</div>
