<!-- Footer -->
  <section id="footer" class="wrapper split style2">
    <div class="inner">
      <section>
        <header>
          <img width="10%" src="/images/suika-logo.png" alt="">
          <h3>Suika2</h3>
        </header>
        <p>
          Here at the Suika2 Development Team, we love visual novels, that's why we're trying our best
          to help as many developers and authors create beautiful stories.
        </p>
        <p>
          *Releases on this website may lag behind those of GitHub due to the differences in team members' time zones.
        <a href="https://luxion.jp/">Read the history of Suika2 through release notes.</a><br>
        <a href="mailto:midori@suika2.com">midori@suika2.com</a><br>
        <a href="https://play.google.com/store/apps/details?id=jp.luxion.suika&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" class="button big">Download the Demo on Google Play</a>
      </section>
    </div>
    <div class="copyright">
      <p>&copy; the Suika2 Development Team. All rights reserved.</p>
    </div>
  </section>
