<!-- Navigation -->

<nav id="navigation">
  <img style="float:left;" class="logo" src="images/suika-logo.png" alt="">
  <div style="float:right;">
    <a href="/">Home</a>
    <a href="/articles.html">Articles</a>
    <a href="/docs.html">Documentation</a>
    <a href="https://github.com/suika2engine/suika2">GitHub</a>
    <div class="dropdown-menu">
      <button>Language
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/jp/">日本語</a>
        <a href="/zh/">中文</a>
        <a href="/ru/">Русский</a>
      </div>
    </div>
  </div>
</nav>
