<div>
  <link href="./docs-header.css" rel="stylesheet" />
  <header data-role="Header" class="docs-header-header">
    <div class="docs-header-logo-container">
      <img
        alt="logo"
        src="/playground_assets/logo-1500h.png"
        class="docs-header-logo"
      />
    </div>
    <div class="docs-header-language-container">
      <a href="documentation.html" class="docs-header-language-button button">
        <span>Docs Home</span>
      </a>
      <a href="english.html" class="docs-header-language-button1 button">
        <span>Website Home</span>
      </a>
    </div>
  </header>
</div>
