.version-container {
  display: flex;
  position: relative;
}
.version-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
@media(max-width: 991px) {
  .version-text {
    text-align: center;
  }
}
