.docs-header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.docs-header-logo-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.docs-header-logo {
  height: 3rem;
}
.docs-header-language-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.docs-header-language-button {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xlarge);
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.docs-header-language-button:hover {
  transform: scale(1.02);
  background-color: var(--dl-color-gray-900);
}
.docs-header-language-button1 {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xlarge);
  text-align: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.docs-header-language-button1:hover {
  transform: scale(1.02);
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .docs-header-language-button {
    margin-left: var(--dl-space-space-unit);
  }
  .docs-header-language-button1 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .docs-header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .docs-header-language-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .docs-header-header {
    padding: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-text {
  text-align: center;
}
.footer-link {
  margin-top: var(--dl-space-space-unit);
  text-decoration: none;
}









@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.documentation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.documentation-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-container1 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.documentation-text {
  font-size: 3rem;
}
.documentation-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.documentation-item-list {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.documentation-navlink {
  display: contents;
}
.documentation-installation {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.documentation-item {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-item:hover {
  transform: scale(1.02);
}
.documentation-text-container {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.documentation-text02 {
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-text03 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-navlink1 {
  display: contents;
}
.documentation-supported-formats {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.documentation-item1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-item1:hover {
  transform: scale(1.02);
}
.documentation-text-container1 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.documentation-text04 {
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-text05 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-navlink2 {
  display: contents;
}
.documentation-setup-and-configuration {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.documentation-item2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-item2:hover {
  transform: scale(1.02);
}
.documentation-text-container2 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.documentation-text08 {
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-text09 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-navlink3 {
  display: contents;
}
.documentation-suika2script-and-commands {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.documentation-item3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-item3:hover {
  transform: scale(1.02);
}
.documentation-text-container3 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.documentation-text12 {
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-text13 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-navlink4 {
  display: contents;
}
.documentation-creating-graphical-user-interfaces {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.documentation-item4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-item4:hover {
  transform: scale(1.02);
}
.documentation-text-container4 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.documentation-text16 {
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-text17 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-navlink5 {
  display: contents;
}
.documentation-suika2-pro-for-creators {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.documentation-item5 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
}
.documentation-item5:hover {
  transform: scale(1.02);
}
.documentation-text-container5 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.documentation-text20 {
  margin-bottom: var(--dl-space-space-twounits);
}
.documentation-text21 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .documentation-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .documentation-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .documentation-text {
    text-align: center;
  }
  .documentation-text01 {
    text-align: center;
  }
  .documentation-item {
    flex-direction: row;
    justify-content: space-between;
  }
  .documentation-item1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .documentation-item2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .documentation-item3 {
    flex-direction: row;
    justify-content: space-between;
  }
  .documentation-item4 {
    flex-direction: row;
    justify-content: space-between;
  }
  .documentation-item5 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .documentation-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .documentation-item-list {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .documentation-item {
    flex-direction: column;
  }
  .documentation-item1 {
    flex-direction: column;
  }
  .documentation-item2 {
    flex-direction: column;
  }
  .documentation-item3 {
    flex-direction: column;
  }
  .documentation-item4 {
    flex-direction: column;
  }
  .documentation-item5 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .documentation-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .documentation-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .documentation-item-list {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
