.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header-logo-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-logo {
  height: 3rem;
}
.header-language-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-language-button {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-xlarge);
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.header-language-button:hover {
  transform: scale(1.02);
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .header-language-button {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-language-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-text {
  text-align: center;
}
.footer-link {
  margin-top: var(--dl-space-space-unit);
  text-decoration: none;
}








@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.homepage-introduction {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(253, 160, 116, 0.5) 0.00%,rgba(8, 8, 8, 0.66) 100.00%),url("public/playground_assets/roof-1500h.png");
  background-position: top left;
}
.homepage-title-container {
  display: flex;
  position: relative;
}
.homepage-title-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.homepage-short-description {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-download-e-mail-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.homepage-download-button {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.homepage-download-button:hover {
  transform: scale(1.02);
}
.homepage-e-mail-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.homepage-e-mail-button:hover {
  transform: scale(1.02);
}
.homepage-contact {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.homepage-text {
  font-size: 3rem;
  max-width: 450px;
}
.homepage-text01 {
  width: 75%;
  margin-top: var(--dl-space-space-twounits);
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.homepage-link {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.homepage-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.homepage-link1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.homepage-link1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.homepage-image {
  width: 400px;
  object-fit: cover;
}
.homepage-team {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.homepage-link2 {
  display: contents;
}
.homepage-ktabata {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card:hover {
  transform: scale(1.02);
}
.homepage-profile-picture {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text04 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text05 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text06 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text09 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-link3 {
  display: contents;
}
.homepage-kyou {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card1:hover {
  transform: scale(1.02);
}
.homepage-profile-picture1 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text10 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text11 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text12 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text15 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-link4 {
  display: contents;
}
.homepage-aitsuki {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card2:hover {
  transform: scale(1.02);
}
.homepage-profile-picture2 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text19 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text20 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text23 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text26 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-link5 {
  display: contents;
}
.homepage-max {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card3:hover {
  transform: scale(1.02);
}
.homepage-profile-picture3 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text32 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text33 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text36 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text39 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-link6 {
  display: contents;
}
.homepage-minirop {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card4:hover {
  transform: scale(1.02);
}
.homepage-profile-picture4 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text42 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text43 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text46 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text49 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-link7 {
  display: contents;
}
.homepage-matsuno-san {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card5 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card5:hover {
  transform: scale(1.02);
}
.homepage-profile-picture5 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text55 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text56 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text59 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text62 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.homepage-link8 {
  display: contents;
}
.homepage-contributors {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.homepage-card6 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-card6:hover {
  transform: scale(1.02);
}
.homepage-profile-picture6 {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.homepage-text67 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.homepage-role-text6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.homepage-text68 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.homepage-text71 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.homepage-text74 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .homepage-introduction {
    flex-direction: column;
  }
  .homepage-title-text {
    text-align: center;
  }
  .homepage-short-description {
    text-align: center;
  }
  .homepage-contact {
    flex-direction: column;
  }
  .homepage-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .homepage-text {
    text-align: center;
  }
  .homepage-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .homepage-text02 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .homepage-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-card1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-card2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-card3 {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-card4 {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-card5 {
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-card6 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .homepage-introduction {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .homepage-contact {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .homepage-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .homepage-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .homepage-image {
    width: 80%;
  }
  .homepage-team {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .homepage-card {
    flex-direction: column;
  }
  .homepage-profile-picture {
    width: 100%;
  }
  .homepage-card1 {
    flex-direction: column;
  }
  .homepage-profile-picture1 {
    width: 100%;
  }
  .homepage-card2 {
    flex-direction: column;
  }
  .homepage-profile-picture2 {
    width: 100%;
  }
  .homepage-card3 {
    flex-direction: column;
  }
  .homepage-profile-picture3 {
    width: 100%;
  }
  .homepage-card4 {
    flex-direction: column;
  }
  .homepage-profile-picture4 {
    width: 100%;
  }
  .homepage-card5 {
    flex-direction: column;
  }
  .homepage-profile-picture5 {
    width: 100%;
  }
  .homepage-card6 {
    flex-direction: column;
  }
  .homepage-profile-picture6 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .homepage-introduction {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .homepage-download-e-mail-buttons {
    flex-direction: column;
  }
  .homepage-e-mail-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .homepage-contact {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .homepage-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .homepage-btn-group {
    flex-direction: column;
  }
  .homepage-team {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
