.version-container {
  display: flex;
  position: relative;
}
.version-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
@media(max-width: 991px) {
  .version-text {
    text-align: center;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-text {
  text-align: center;
}
.footer-link {
  margin-top: var(--dl-space-space-unit);
  text-decoration: none;
}









@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.japanese-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.japanese-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.japanese-logo-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.japanese-logo {
  height: 3rem;
}
.japanese-language-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.japanese-language-button {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-large);
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.japanese-language-button:hover {
  transform: scale(1.02);
  background-color: var(--dl-color-gray-900);
}
.japanese-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(253,160,116,0.5) 0%, rgba(43,206,95,0.5) 100%),url("public/playground_assets/roof-1500h.png");
  background-position: top left;
}
.japanese-text {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.japanese-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.japanese-link {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.japanese-link:hover {
  transform: scale(1.02);
}
.japanese-link01 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
}
.japanese-link01:hover {
  transform: scale(1.02);
}
.japanese-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.japanese-container01 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.japanese-text03 {
  font-size: 2rem;
}
.japanese-text04 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.japanese-btn-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.japanese-link02 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.japanese-link02:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.japanese-link03 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.japanese-link03:hover {
  border-color: var(--dl-color-gray-black);
}
.japanese-image {
  width: 400px;
  object-fit: cover;
}
.japanese-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.japanese-text10 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.japanese-container02 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.japanese-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image1 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container03 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text11 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text14 {
  font-size: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link04 {
  text-decoration: none;
}
.japanese-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image2 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text18 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text22 {
  font-size: 15px;
}
.japanese-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link05 {
  text-decoration: none;
}
.japanese-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image3 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text29 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text33 {
  font-size: 15px;
}
.japanese-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link06 {
  text-decoration: none;
}
.japanese-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image4 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text43 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text46 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text47 {
  font-size: 15px;
}
.japanese-text49 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link07 {
  text-decoration: none;
}
.japanese-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image5 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text54 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text58 {
  font-size: 15px;
}
.japanese-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link08 {
  text-decoration: none;
}
.japanese-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image6 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text69 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text72 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text75 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link09 {
  text-decoration: none;
}
.japanese-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.japanese-image7 {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.japanese-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.japanese-text83 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text86 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-text89 {
  margin-bottom: var(--dl-space-space-unit);
}
.japanese-link10 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .japanese-language-button {
    margin-left: var(--dl-space-space-unit);
  }
  .japanese-hero {
    flex-direction: column;
  }
  .japanese-text {
    text-align: center;
  }
  .japanese-hero1 {
    flex-direction: column;
  }
  .japanese-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .japanese-text03 {
    text-align: center;
  }
  .japanese-text04 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .japanese-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .japanese-language-container {
    display: none;
  }
  .japanese-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .japanese-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .japanese-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .japanese-image {
    width: 80%;
  }
  .japanese-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .japanese-container02 {
    grid-template-columns: 1fr;
  }
  .japanese-feature-card {
    flex-direction: row;
  }
  .japanese-container03 {
    flex-direction: column;
  }
  .japanese-feature-card1 {
    flex-direction: row;
  }
  .japanese-container04 {
    flex-direction: column;
  }
  .japanese-feature-card2 {
    flex-direction: row;
  }
  .japanese-container05 {
    flex-direction: column;
  }
  .japanese-feature-card3 {
    flex-direction: row;
  }
  .japanese-container06 {
    flex-direction: column;
  }
  .japanese-feature-card4 {
    flex-direction: row;
  }
  .japanese-container07 {
    flex-direction: column;
  }
  .japanese-feature-card5 {
    flex-direction: row;
  }
  .japanese-container08 {
    flex-direction: column;
  }
  .japanese-feature-card6 {
    flex-direction: row;
  }
  .japanese-container09 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .japanese-header {
    padding: var(--dl-space-space-unit);
  }
  .japanese-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .japanese-btn-group {
    flex-direction: column;
  }
  .japanese-link01 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .japanese-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .japanese-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .japanese-btn-group1 {
    flex-direction: column;
  }
  .japanese-link03 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .japanese-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .japanese-container03 {
    flex-direction: column;
  }
  .japanese-container04 {
    flex-direction: column;
  }
  .japanese-container05 {
    flex-direction: column;
  }
  .japanese-container06 {
    flex-direction: column;
  }
  .japanese-container07 {
    flex-direction: column;
  }
  .japanese-container08 {
    flex-direction: column;
  }
  .japanese-container09 {
    flex-direction: column;
  }
}
