/* NOTE: 'pnf' = 'Page Not Found' */

.content {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pnf_box {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pnf_info_box {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.pnf_title {
  font-size: 3rem;
  max-width: 450px;
}
.pnf_description_box {
  width: 100%;
  margin-top: var(--dl-space-space-twounits);
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.pnf_button_box {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.pnf_homepage_button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.pnf_homepage_button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.pnf_image_midori_sad {
  width: 400px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .pnf_box {
    flex-direction: column;
  }
  .pnf_info_box {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .pnf_title {
    text-align: center;
  }
  .pnf_description_box {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .pnf_description {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .pnf_box {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pnf_description_box {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pnf_description {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pnf_image_midori_sad {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .pnf_box {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pnf_info_box {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pnf_button_box {
    flex-direction: column;
  }
}
