<!DOCTYPE HTML>
<html lang="en, ja"> <!-- Languages this page are in, Japanese is also used in case of Japanese-only titles -->
	<head>
		<title>Title – Suika2</title>
		<meta charset="utf-8"/> <!-- Proper encoding for accurate language and icon depications -->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/> <!-- Responsive Aid -->
		<meta name="description" content="description."/> <!-- Page Description -->
		<meta name="keywords" content="Suika2 visual novel engine, Suika2, visual novel engine, documentation"/> <!-- Keywords for Search Indexing -->
		<link rel="icon" type="image/x-icon" href="/images/logo.png"> <!-- Site icon -->
		<link rel="stylesheet" href="/assets/css/main.css"/> <!-- Stylesheet -->
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/index.html">Suika2</a>
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home</a></li>
						<li>
							<a href="#" class="icon solid fa-angle-down">About Us</a>
							<ul>
								<li><a href="/articles/team.html">Our Team</a></li>
								<li><a href="/articles/history.html">Our History</a></li>
							</ul>
						</li>
						<li><a href="/docs/home">Documentation</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="inner">
					<header class="major">
						<h1>Title</h1>
						<p>Short description of the article.</p>
					</header>
					<p>
						<span class="image fit"><img src="images/pic05.jpg" alt="" /></span>
						Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
						tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
						felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
						praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
						primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
						adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
						sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
						Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
						Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
						sit amet dolor feugiat consequat.
					</p>
					<h3>Magna Sed Ipsum</h3>
					<p>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
					tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
					felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
					praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
					primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
					adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
					sagittis eget. tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
					felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
					praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
					primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
					adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
					sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
					Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
					Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
					sit amet dolor feugiat consequat.
					</p>
					<h3>Eusimod Faucibus Primis</h3>
					<p>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
					tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
					felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
					praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
					primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
					adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
					sagittis eget. tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
					felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
					praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
					primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
					adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
					sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
					Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
					Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
					sit amet dolor feugiat consequat.
					</p>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer" class="wrapper">
				<div class="inner">
					<section class="contact-info">
						<div class="item">
							<span class="icon solid alt fa-envelope"></span>
							<a href="mailto:midori@suika2.com">midori@suika2.com</a>
						</div>
					</section>
					<p class="copyright">Copyright &copy; 2022 – 2023 Suika2 Development Team. All rights reserved. Revised and Maintained by <a href="https://github.com/kyourobert">Kyou</a>.</p>
				</div>
			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
