<!-- Commented out during tests

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Suika2 | {{page.title}}</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="container">
    Navigation
    <div class="navbar">
      <img src="/images/suika-logo.png" class="logo" alt="Suika2 Logo">
      <nav>
        <ul id="menuList">
          <li><a href="/">Home</a></li>
          <li><a href="https://github.com/suika2engine/suika2/wiki/Tutorial">Tutorial</a></li>
          <li><a href="https://github.com/suika2engine/suika2/wiki">Wiki</a></li>
          <li><a href="https://github.com/suika2engine/suika2">GitHub</a></li>
          <li><a href="/jp/">日本語</a></li>
          <li><a href="/ru/">Русский</a></li>
          <li><a href="/zh/">中文</a></li>
          <li><a href="/kr/">한국어</a></li>
          <a href="https://discord.gg/ZmvXxE8GFg"><button type="button">Discord</button></a>
        </ul>
      </nav>
    </div>

    <div class="row">

      {{content}}

    </div>

  </div>

  <footer><a href="https://github.com/suika2engine"><button type="button">Copyright (C) 2022 The Suika2 Development Team</button></a></footer>

  </body>
</html>
-->
