/*========================== COPYRIGHT ==========================
Copyright 2022 Brayden Guilford and the Suika2 Development Team

You may use this software commercially or otherwise with/without
modification, however this notice and the above copyright notice
must be included in all works that derive from it, in part or
completely. This notice DOES NOT apply to Suika2 the software,
please see the relevent license within the Suika2 repository for
information regarding your rights to use and modify Suika2.

Suika2 Repository: https://github.com/suika2engine/suika2
/*===============================================================

/*====================
Colours
====================*/
:root {
  /* Suika Colours */
  --suikaOrange: #FF9F74;
  --suikaGreen: #91E09F;

  /* Text and Object Colours */
  --Grey: #878787;
  --darkGrey: #6e6d6d;
  --Text: #000; /* Black */
  --lightText: #707070; /* Off-White, use with 'font-weight: 100;'' */
  --Hover: #FAF9F6; /* Off-White */
}




/*====================
Responsive Fonts
====================*/
@media screen and (min-width: 30rem) and (max-width: 45rem) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 45rem) {
  html {
    font-size: 16px;
  }
}




/*====================
Text Styles/Colours
====================*/
body {
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 45rem;
  padding: 0.25rem;
  overflow: scroll;
}
p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  text-align: justify;
}
h1,
h2,
h3,
h4 {
  border-bottom: 2px solid var(--Grey);
  font-weight: inherit;
  line-height: 1.42;
  margin: 1.414rem 0 .5rem;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  text-align: center;
}
h1 {
  border-bottom: none;
}
.author {
  font-weight: inherit;
  line-height: 1.42;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  text-align: center;
}




/*====================
Elements
====================*/
img, video {
  margin: auto;
  width: 100%;
}
iframe {
  margin: 25px auto;
  display: block;
}
html {
  font-size: 18px;
  max-width: 100%;
}
blockquote {
  border-left: 8px solid var(--Text);
  padding: 1rem;
}
/*
pre,
code {}
*/
pre {
  border: 1px solid var(--Text);
  background-color: #ECEFF0;
  overflow: scroll;
}
code {
  background-color: #ECEFF0;
}




/*====================
Tables
====================*/
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid var(--Text);
  padding: 10px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--Grey);
  color: white;
}
button {
  text-decoration: none;
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: white;
  background: linear-gradient(to right, #FF9F74, #91E09F); /* Using colours-variables breaks div, use raw colour codes instead */
  border-radius: 6px;
  cursor: pointer;
  pointer-events: all;
}
